# IDE
.idea/

# Dependencies
**/node_modules
**.min.js
**.min.css

# Tests
**.spec.js
**/tests

# Generated folders and files
**/.log
**/.sass-cache
**/.tmp
**/coverage*
**/design.doc.json
**/dist
**/npm-debug.log

# Deep related
.parameters.json
deeploy.json*
deeploy.*.json
*_config.json*
*.provisioning.json*
**/frontend/_build/
**/backend/src/**/*.zip
