# Compiled output
src/**/backend/**/*.zip
src/**/frontend/_build/*
!src/**/frontend/_build/.gitkeep

# Deep related
src/deeploy.json
src/*.provisioning.json*
src/**/.parameters.json
src/**/*_config.json
src/**/bootstrap.js
src/**/deep-framework.min.js

# Dependencies
**/node_modules

# IDEs and editors
/.idea
.vscode/*

# Tests related
coverage.lcov

# System Files
.DS_Store
Thumbs.db
