<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus
           [(ngModel)]="taskInput" (keyup.enter)="onCreate()">
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox" [(ngModel)]="markAll" (change)="markAllCompleted()">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let task of taskList | filter:filterStatus"
          [ngClass]="{'completed': task.Completed, 'editing': task.Editing}">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="onCompleted(task)" [checked]="task.Completed">
          <label (dblclick)="editMode(task, true)">{{ task.Title }}</label>
          <button class="destroy" (click)="onRemove(task)"></button>
        </div>
        <input *ngIf="task.Editing" #editedTask class="edit" [value]="task.Title"
               (keyup.enter)="onUpdate(task, editedTask.value)"
               (keyup.escape)="editMode(task, false)" (blur)="editMode(task, false)" autofocus >
      </li>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"></span>
    <ul class="filters">
      <li><a (click)="filterBy('all')" [ngClass]="{'selected': filterStatus == 'all'}">All</a></li>
      <li><a (click)="filterBy('active')" [ngClass]="{'selected': filterStatus == 'active'}">Active</a></li>
      <li><a (click)="filterBy('completed')" [ngClass]="{'selected': filterStatus == 'completed'}">Completed</a></li>
    </ul>
    <a class="clear-completed"
       [ngClass]="{'hidden': completedList.length <= 0}"
       (click)="onRemoveCompleted()">Clear completed</a>
  </footer>
</section>
