<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <form id="todo-form" ng-submit="todoCtrl.createToDo()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="todoCtrl.todoTitle" ng-disabled="todoCtrl.saving" autofocus>
        </form>
    </header>
    <section id="main" ng-cloak>
        <input id="toggle-all" type="checkbox" ng-model="todoCtrl.allChecked" ng-click="todoCtrl.markAll(todoCtrl.allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
            <li ng-repeat="todo in todoCtrl.todoList | filter:statusFilter track by $index" ng-class="{completed: todo.Completed, editing: todo === todoCtrl.editedTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.Completed" ng-change="todoCtrl.toggleCompleted(todo)">
                    <label ng-dblclick="todoCtrl.editTodo(todo)">{{todo.Title}}</label>
                    <button class="destroy" ng-click="todoCtrl.deleteToDo(todo)"></button>
                </div>
                <form ng-submit="todoCtrl.saveEdits(todo, 'submit')">
                    <input class="edit" ng-model="todo.Title" todo-escape="todoCtrl.revertEdits(todo)" ng-blur="todoCtrl.saveEdits(todo, 'blur')" todo-focus="todo === todoCtrl.editedTodo">
                </form>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-show="todoCtrl.hasTasks" ng-cloak>
        <span id="todo-count"><strong>{{todoCtrl.tasksNumber}}</strong>
            <ng-pluralize count="todoCtrl.tasksNumber" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: !statusFilter}" ng-click="statusFilter = ''" href="javascript:;">All</a>
            </li>
            <li>
                <a ng-class="{selected: statusFilter.Completed === false}" ng-click="statusFilter = {Completed: false}" href="javascript:;">Active</a>
            </li>
            <li>
                <a ng-class="{selected: statusFilter.Completed === true}" ng-click="statusFilter = {Completed: true}" href="javascript:;">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" ng-show="todoCtrl.completedCount" ng-click="todoCtrl.deleteCompleted()">Clear completed</button>
    </footer>
</section>