<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <form id="todo-form" ng-submit="todoCtrl.create()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="todoCtrl.title" ng-disabled="todoCtrl.saving" autofocus>
        </form>
    </header>
    <section id="main" ng-cloak>
        <input id="toggle-all" type="checkbox" ng-model="toDoService.allChecked" ng-click="todoCtrl.markAll(toDoService.allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
            <li ng-repeat="todo in toDoService.todoList | filter:statusFilter track by $index" ng-class="toDoService.todoNgClass(todo)">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.Completed" ng-change="todoCtrl.toggleCompleted(todo)">
                    <label ng-dblclick="toDoService.editTodo(todo)">{{todo.Title}}</label>
                    <button class="destroy" ng-click="todoCtrl.delete(todo)"></button>
                </div>
                <form ng-submit="todoCtrl.update(todo, 'submit')">
                    <input class="edit" ng-trim="false" ng-model="todo.Title" todo-escape="toDoService.revertEdits(todo)" ng-blur="todoCtrl.update(todo, 'blur')" todo-focus="toDoService.isEditing(todo)">
                </form>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-show="toDoService.hasTodo" ng-cloak>
        <span id="todo-count"><strong>{{toDoService.todoNumber}}</strong>
            <ng-pluralize count="toDoService.tasksNumber" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
        </span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: !statusFilter}" ng-click="statusFilter = ''" href="javascript:;">All</a>
            </li>
            <li>
                <a ng-class="{selected: statusFilter.Completed === false}" ng-click="statusFilter = {Completed: false}" href="javascript:;">Active</a>
            </li>
            <li>
                <a ng-class="{selected: statusFilter.Completed === true}" ng-click="statusFilter = {Completed: true}" href="javascript:;">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" ng-show="toDoService.completedCount" ng-click="toDoService.deleteCompleted()">Clear completed</button>
    </footer>
</section>